<template>
    <div>
        <div class="">
            <b-card>
                <h1>{{element.title}}</h1>
                <div class="p-3" v-if="element.category">
                    <router-link class="btn btn-secondary" :to="{name:'list-category',params: {id: element.category}}"> {{ category.title }} </router-link>
                    <router-link class=" ml-2 btn btn-light" :to="{name:'list-type',params: {id: element.type}}"> {{ type.title }} </router-link>
                    <b-card-text>
                    {{ element.description }}
                    </b-card-text>
                </div>
            </b-card>
        </div>
    </div>
</template>

<script>

const axios = require('axios').default;

export default {

    created(){
        this.find()
        // console.log(this.$route.params.id)
    },

    data(){
        return {
            element:Object,
            category:Object,
            type:Object,
        }
    },
    methods: {
        find: function(){
           axios.get('http://localhost:8000/api/element/'+this.$route.params.id+'/?format=json')
        //    .then(res => res.json()) 
           .then(res => {
               this.element = res.data
               this.findCategory(this.element.category)
               this.findType(this.element.type)
           }) 
        },
        findCategory: function(id){
           axios.get('http://localhost:8000/api/category/'+id+'/?format=json')
           //.then(res => res.json()) 
           .then(res => this.category = res.data) 
        },
        findType: function(id){
           axios.get('http://localhost:8000/api/type/'+id+'/?format=json')
           //.then(res => res.json()) 
           .then(res => this.type = res.data) 
        }
    },
}
</script>

<style>
    .box {
        border: 3px solid #CCC;
        margin: 5px 0 0 0;
    }
</style>