<template>
    <div>
        <div class="">
            <ListDefault :elementsList="elements" />
        </div>
    </div>
</template>

<script>
import ListDefault from '../partials/_ListDefault'

export default {

    components:{
        ListDefault
    },

    created(){
        this.findAll()
    },

    data(){
        return {
            elements:[],
        }
    },
    methods: {
        findAll: function(){
           fetch('http://localhost:8000/api/category/'+this.$route.params.id+'/elements/?format=json')
           .then(res => res.json()) 
           .then(res => this.elements = res) 
        }
    },
    watch:{
        "$route.params.id" : function(){
              this.findAll()
        }
    }
}
</script>

