<template>
    <div>
        <div class="">
              <ListDefault :elementsList="elements" /> 
        </div>
    </div>
</template>

<script>
import ListDefault from '../partials/_ListDefault'

export default {

     components:{
        ListDefault
    },
    created(){
        this.findAll()
    },

    data(){
        return {
            elements:[],
        }
    },
    methods: {
        findAll: function(){
           fetch('http://localhost:8000/api/element/?format=json')
           .then(res => res.json()) 
           .then(res => this.elements = res) 
        }
    },
}
</script>

<style>
    .box {
        border: 3px solid #CCC;
        margin: 5px 0 0 0;
    }
</style>