<template>
  <div id="app">
    <HeaderComponent />
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        <TypesComponent/>
        <br>
        <CategoriesComponent/>
      </div>
      <div class="col-md-8">
        <router-view></router-view>
      </div>
    </div>
   </div>
  </div>
</template>

<script>
import HeaderComponent from './components/HeaderComponent.vue'
import CategoriesComponent from './components/CategoriesComponent.vue'
import TypesComponent from './components/TypesComponent.vue'

// import TableComponent from './components/TableComponent.vue'

export default {
  name: 'App',
  components: {
    HeaderComponent,
    CategoriesComponent,
    TypesComponent,
    // ListComponent,
    // TableComponent,
    // DetailComponent
  }
}
</script>

<style>

</style>
